@import url("default.css");

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Lato", Times, "Times New Roman", serif;
}
.reveal h1 {
  font-size:110px;
}
.reveal h3 {
  line-height:1.2em;
}
.reveal .notransform {
  text-transform:none;
}
.reveal section img {
  background: transparent;
  border: none;
  box-shadow: none;
}
ul.spacious li {
  padding-bottom:0.5em;
}
p.sub_quote {
  font-style:italic;
  text-align:right;
  padding-right:10%;
}